<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Actions</key>
        <array>
            <dict>
                <key>Image File</key>
                <string>Leengoo.png</string>
                <key>Script Interpreter</key>
                <string>/usr/bin/php</string>
                <key>Shell Script File</key>
                <string>Leengoo.php</string>
                <key>Title</key>
                <string>Leengoo Translate</string>
                <key>After</key>
                <string>show-result</string>
            </dict>
        </array>
        <key>Options</key>
        <array>
            <dict>
                <key>Option Identifier</key>
                <string>email</string>
                <key>Option Type</key>
                <string>string</string>
                <key>Option Label</key>
                <string>Email</string>
            </dict>
            <dict>
                <key>Option Identifier</key>
                <string>password</string>
                <key>Option Type</key>
                <string>string</string>
                <key>Option Label</key>
                <string>Password</string>
            </dict>
        </array>
        <key>Extension Identifier</key>
        <string>com.ykdev.popclip.extension.leengoo</string>
        <key>Extension Name</key>
        <string>Leengoo Translate</string>
        <key>Required Software Version</key>
        <integer>1459</integer>
        <key>Long Running</key>
        <string>YES</string>
    </dict>
</plist>